form.user .form-control-user {
    border-radius: 0.35rem;
}

form.user .btn-user {
    border-radius: 0.35rem;
}

.error {
    width: 100%;
    font-size: 1rem;
}

label.error {
    font-size: 1rem;
    color: #D8000C;
    margin-top: .4rem;
}

b, strong {
    font-weight: 600;
}

.topbar {
    height: 3.375rem;
}