form.user .form-control-user {
    border-radius: unset;
}

form.user .btn-user {
    border-radius: unset;
}

.error {
    width: 100%;
}

label.error {
    font-size: 1rem;
    color: #D8000C;
    margin-top: .4rem;
}

b, strong {
    font-weight: 600;
}