@model Spendix.Web.ViewModels.Account.SignInViewModel
@{
    Layout = null;
}

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign In - Spendix</title>
    <partial name="_BaseStyles" />
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                            </div>
                            <partial name="_AlertMessage" />
                            <form class="user" asp-controller="Account" asp-action="SignIn" method="post">
                                <input type="hidden" id="returnUrl" name="returnUrl" value="@Model.ReturnUrl" />

                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="emailAddress" name="emailAddress" aria-describedby="emailHelp" placeholder="Enter Email Address..." autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Login
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" asp-controller="Account" asp-action="SignUp">Create an Account!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_BaseScripts" />
    <partial name="_ValidationScripts" />
    <script type="text/javascript" src="~/js/views/account/signin.js" asp-append-version="true"></script>
</body>
</html>